<div class="row">
    <div class="col-md-3 col-sd-3 filme_disputa">
        <input type="checkbox" id="filme1"> <label for="filme1"> - Filme 1 <br> 2018 </label>
    </div>
    <div class="col-md-3 col-sd-3  filme_disputa">
        <input type="checkbox" id="filme2"> <label for="filme1"> - Filme 2 <br> 2018</label>
    </div>
    <div class="col-md-3 col-sd-3  filme_disputa">
        <input type="checkbox" id="filme3"> <label for="filme1"> - Filme 3 <br> 2018</label>
    </div>
    <div class="col-md-3 col-sd-3  filme_disputa">
        <input type="checkbox" id="filme4"> <label for="filme1"> Filme 4 <br> 2018</label>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sd-3 filme_disputa">
        <input type="checkbox" id="filme1"> <label for="filme1"> - Filme 1 <br> 2018 </label>
    </div>
    <div class="col-md-3 col-sd-3  filme_disputa">
        <input type="checkbox" id="filme2"> <label for="filme1"> - Filme 2 <br> 2018</label>
    </div>
    <div class="col-md-3 col-sd-3  filme_disputa">
        <input type="checkbox" id="filme3"> <label for="filme1"> - Filme 3 <br> 2018</label>
    </div>
    <div class="col-md-3 col-sd-3  filme_disputa">
        <input type="checkbox" id="filme4"> <label for="filme1"> Filme 4 <br> 2018</label>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sd-3 filme_disputa">
        <input type="checkbox" id="filme1"> <label for="filme1"> - Filme 1 <br> 2018 </label>
    </div>
    <div class="col-md-3 col-sd-3  filme_disputa">
        <input type="checkbox" id="filme2"> <label for="filme1"> - Filme 2 <br> 2018</label>
    </div>
    <div class="col-md-3 col-sd-3  filme_disputa">
        <input type="checkbox" id="filme3"> <label for="filme1"> - Filme 3 <br> 2018</label>
    </div>
    <div class="col-md-3 col-sd-3  filme_disputa">
        <input type="checkbox" id="filme4"> <label for="filme1"> Filme 4 <br> 2018</label>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sd-3 filme_disputa">
        <input type="checkbox" id="filme1"> <label for="filme1"> - Filme 1 <br> 2018 </label>
    </div>
    <div class="col-md-3 col-sd-3  filme_disputa">
        <input type="checkbox" id="filme2"> <label for="filme1"> - Filme 2 <br> 2018</label>
    </div>
    <div class="col-md-3 col-sd-3  filme_disputa">
        <input type="checkbox" id="filme3"> <label for="filme1"> - Filme 3 <br> 2018</label>
    </div>
    <div class="col-md-3 col-sd-3  filme_disputa">
        <input type="checkbox" id="filme4"> <label for="filme1"> Filme 4 <br> 2018</label>
    </div>
</div>